.border {
  position: relative;
  padding: 12px;
}

.border::before,
.border::after {
  content: '';
  position: absolute;
  background: linear-gradient(to right, #EFFF00, #15FFEE, #15C1FF);
}

.border::before {
  bottom: 0;
  right: 0;
  width: 3px;
  height: calc(40%);
  background: linear-gradient(to bottom, #EFFF00, #15FFEE, #15C1FF);
  clip-path: polygon(0 10px, 100% 100%, 100% 100%, 0 100%);
}

.border::after {
  bottom: 0;
  right: 0;
  width: calc(40%);
  height: 3px;
  clip-path: polygon(10px 0, 100% 100%, 100% 100%, 100% 0);
}
