.footer {
  display: flex;
  flex-direction: column;
	background: #000000;
	color: gray;
}

.container {
  padding: 20px;
  display: flex; 
  flex-direction: row;
	gap: 1rem;
}

.info {
  flex: 1;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
  color: white;
}

.bottom {
  text-align: center;
	border-top: 1px solid gray;
	line-height: 3rem;
}

.content {
	display: block;
	margin-top: 0.3rem;
}

.icons {
	display: flex;
	gap: 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column
  }
	.bottom {
		line-height: 2.5rem;
	}
}
