.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0.6rem 1.2rem;
  color: #78808f;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.6);
  /* background-color: #0003; */
  backdrop-filter: blur(10px);
  z-index: 40;
}

.item {
  margin-right: 1rem;
}

.item:hover {
  transition: 0.3s;
  color: black;
}

.active {
  color: black;
}

.drawer:hover {
  border-radius: 5px;
  cursor: pointer;
  tangition: 0.3s;
  background-color: #f0f0f0;
}

.drawerMenu {
  font-size: 1.2rem;
  color: #78808f;
  font-weight: bold;
}
