.border {
  position: relative;
  padding: 12px;
}

.border::before,
.border::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #efff00, #15ffee, #15c1ff);
}

.border::before {
  bottom: 0;
  right: 0;
  width: 3px;
  height: calc(50%);
  background: linear-gradient(to bottom, #efff00, #15ffee, #15c1ff);
  clip-path: polygon(0 10px, 100% 100%, 100% 100%, 0 100%);
}

.border::after {
  bottom: 0;
  right: 0;
  width: calc(50%);
  height: 3px;
  clip-path: polygon(10px 0, 100% 100%, 100% 100%, 100% 0);
}
